@import '@/style';

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  @include media($ipad-port) {
    flex-direction: row;
    text-align: left;
    justify-content: space-around;

    margin-left: 40px;
    &-image {
      border-radius: 10%;
      @include media($ipad-port) {
        width: 40%;
      }
    }
  }
  &-content {
    margin-bottom: 24px;
    text-align: left;
    @include media($ipad-port) {
      display: flex;
      flex-direction: column;
      max-width: 286px;
    }
    &-title {
      padding-bottom: 20px;
      font-size: 24px;
      text-align: left;
      @include media($ipad-port) {
        text-align: left;
      }
    }

    &-description {
      padding-bottom: 20px;
      font-size: 14px;
    }

    &-button {
      color: white;
      background-color: #00202f;
      border: 2px solid #00202f !important;
      margin-top: 0;
      text-align: center;

      &:hover,
      &:focus-visible {
        color: inherit !important;
        background-color: inherit !important;
        filter: invert !important;
      }
      @include media($desktop) {
        margin-top: 16px;
      }
    }
  }
}
