@import '@/style';

.body {
  height: 100vh;
  background-image: url('../../../public/image-20-0.2d2exmpHg9AdCR4deuLDMjSVbxS.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
