.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding: 23px 30px;
  border-radius: 37px;
  border: 1px solid transparent;
  background-color: var(--blue);
  transition: 0.3s ease-out;
  color: #fff;
  font-size: 17px;
  line-height: (27/17);
  font-weight: 600;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      background-color: var(--green);
    }
  }
}
