@import '@/style';

.button {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding: 10px 36px;
  border-radius: 50px;
  transition: 0.3s ease-out;
  color: #fff;
  font-size: 16px;
  line-height: (27/17);
  font-weight: 600;
  border: 2px solid white;
  @include media($ipad-land) {
    font-size: 12px;
    letter-spacing: 0.3px;
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      background-color: white;
      color: orange;
    }
  }
}
