@import '@/style';

.hero {
  position: relative;

  &-content {
    position: relative;
    padding-block: 75px;
    color: white;

    &-flex {
      gap: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media($desktop) {
        align-items: flex-start;
      }
    }

    &-logo {
      margin-bottom: 50px;
    }

    &-title {
      white-space: pre-line;
    }
  }
}
