@import '@/style';

.logo {
  position: relative;

  &-label {
    font-family: 'CoconPro', sans-serif;
    font-size: 20px;
    line-height: normal;
    color: white;

    @include media($desktop) {
      font-size: 24px;
    }
  }
}
