.logo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 230px;
  & p {
    font-weight: 700;
    font-size: 23.43px;
    line-height: 24.44px;
    color: #203754;
    white-space: pre-line;
  }
  & img {
    width: 80px;
    margin-right: 15px;
    flex-shrink: 0;
  }
}
