@import '@/style';

.background {
  max-width: 100% !important;
  background-color: #f2f4f4;
  padding-block: 60px;
  @include media($desktop) {
    padding-block: 60px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  @include media($desktop) {
  }
}
.partners {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;

  @include media($ipad-land) {
    max-width: 1248px;
    padding-inline: 60px;
  }
  margin-top: 10px;

  @include media($desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
  }
  &-image {
    width: 100%;
    @include media($desktop) {
      width: 70%;
    }
    img {
      margin: auto;
      width: 90%;
      aspect-ratio: 4/3;
      max-width: 70%;
      height: auto;
      max-height: 400px;
    }
  }
  &-list {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    @include media($desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      padding-top: 0;
      width: 70%;
    }
  }
  &-item {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 10px;
    max-width: 300px;
    @include media($desktop) {
      align-content: space-between;
      max-width: 100%;
    }
    &-icon {
      font-size: 40px;
    }

    &-description {
      font-size: 14px;
    }
  }
}
