@import "include-media/dist/_include-media.scss";

$breakpoints: (
  tablet: 600px,
  ipad-port: 768px,
  ipad-land: 1024px,
  desktop: 1200px,
  large: 1440px,
);

$tablet: ">=tablet";
$ipad-port: ">=ipad-port";
$ipad-land: ">=ipad-land";
$desktop: ">=desktop";
$large: ">=large";
